{% comment %} {% extends "../base.html" %} {% endcomment %}
{% load humanize %}

{% block content %}

{% include "./sidebar.html" %}

<div class="container mt-5">
    <p class="h3 m-5">Accounts</p>
    <div class="row">
        {% for balance in userbalance %}
        <div class="col-md-3 mb-4"> <!-- Added margin-bottom for spacing between rows -->
            <div class="card--wrapper">
                <div class="payment--card light-blue">
                    <div class="card--header">
                        <div class="amount">
                            <span class="title">{{ balance.account }}</span>
                            <span class="amount--value">{{ balance.balance|intcomma }}</span>
                        </div>
                        <i class="fa-solid fa-wallet" id="icon"></i>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    {% comment %} <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="form-control p-4 bg-warning" style="max-width: 400px">
                <p class="h3">Account Balance</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Update Balance</button>
                </form>
            </div>
        </div>
    </div> {% endcomment %}
</div>

{% endblock %}
