{% extends "../base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    {% block content %}
    <div class="sidebar">
        <div class="logo"></div>
        <ul class="menu">
            <li class="active">
                <a href="#">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-user"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li>
                <a href="{% url 'account' %}">
                    <i class="fa-solid fa-sack-dollar"></i>
                    <span>Account</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-chart-bar"></i>
                    <span>Statistics</span>
                </a>
            </li>
            <li class="logout">
                <a href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>LogOut</span>
                </a>
            </li>
        </ul>
    </div>
    
    {% endblock %}
</body>
</html>