
{% load static %}
{% load humanize %}

<style>
.card-title {
    font-weight: 600;
    color: rgb(55, 46, 46);
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: oblique;
    font-size: 26px;
    padding-bottom: 8px;
}
.h3{
    text-align: center;
    align-items: center;
}
</style>

{% block content %}

{% include "./sidebar.html" %}

<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            
            <h3>Statistics</h3>
        </div>
        <div class="user--info">
            <span>Welcome, {{ user.username }}</span>
            <img src=
            "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR866XyS0-IpBpUrxAzWsdgHOgSBeHGl-GKeQ&s" 
            alt="">
        </div>
    </div>
    <div class="row">
        {% for balance in account_balances %}
        <div class="col-md-3 mb-4"> 
            <div class="card--wrapper">
                <div class="payment--card light-blue">
                    <div class="card--header">
                        <div class="amount">
                            <span class="title">{{ balance.account }}</span>
                            <span class="amount--value">{{ balance.balance|intcomma }}</span>
                        </div>
                        <i class="fa-solid fa-wallet" id="icon"></i>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row mt-2">
        <div class="col-md-4">
            <div class="card">
                <div class="container-card bg-blue-box">
                    <p class="card-title">Expense vs Income</p>
                    <canvas id="chart-expense-vs-income" width="50" height="57.5"></canvas>
                </div>        
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="container-card bg-blue-box">
                    <p class="card-title">Expense vs Income vs Initial Balance</p>
                    <canvas id="chart-expense-income-balance"  width="200" height="20"></canvas>
                </div>
            </div>        
        </div> 
        <div class="col-md-4">
            <div class="card">
                <div class="container-card bg-blue-box">
                    <p class="card-title">Expense by Category</p>
                    <canvas id="chart_expense" width="250" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <div class="card">
                <form method="get" action="" style="width: 400px;" class="form-contol">
                    <!-- {% csrf_token %} -->
                <div class="form-contol">
                    {{filters.form.as_p}}
                </div>
                <button type="submit" class="btn btn-warning">Search</button>
                    
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="tabular--wrapper">
                    <h3 class="main--title">Transactions</h3>
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Transaction type</th>
                                    <th>Account</th>
                                    <th>Category</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            {% for transaction in filters.qs %}
                            
                            <tbody >
                                <tr hx-target="this" hx-swap="outerHTML" >
                                    {% if transaction.transaction_type == 'Income' %}
                                    <td class="text-success"">{{transaction.transaction_type}}</td>
                                    {% elif transaction.transaction_type == 'Expense' %}
                                    <td class="text-danger"">{{transaction.transaction_type}}</td>
                                    {% else %}
                                    <td class="text-primary"">{{transaction.transaction_type}}</td>
                                    {% endif %}
        
                                    {% if transaction.transaction_type == 'Transfer' %}
                                    <td>{{ transaction.from_account}} to {{ transaction.to_account}}</td>
                                    {% else %}
                                    <td>{{ transaction.account }}</td>
                                    {% endif %}
        
                                    <td>{{ transaction.category }}</td>
                                    <td>{{ transaction.amount|intcomma }}</td>
                                    <!-- <td>{{ transaction.description }}</td> -->
                                     <td>{{ transaction.date_added }}</td>
                                    
                                     {% if transaction.transaction_type == 'Income' %}
                                     <td><a class="btn btn-success" href="{% url 'income-edit' transaction.pk %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                     <td><button class="btn btn-success" 
                                        hx-post="{% url 'deleteTransaction' transaction.pk 'income' %}"
                                        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                                        <i class="fa fa-trash" aria-hidden="true"></i></button></td>
        
                                    {% elif transaction.transaction_type == 'Expense' %}
                                     <td><a class="btn btn-danger" href="{% url 'expense-edit' transaction.pk %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                     <td><button class="btn btn-danger" 
                                        hx-post="{% url 'deleteTransaction' transaction.pk 'expense' %}"
                                        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                                        <i class="fa fa-trash" aria-hidden="true"></i></button></td>
        
                                    {% else %}
                                     <td><a class="btn btn-secondary" href="{% url 'transfer-edit' transaction.pk %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                     <td><button class="btn btn-secondary"
                                        hx-post="{% url 'deleteTransaction' transaction.pk 'transfer' %}"
                                        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                                        
                                        <i class="fa fa-trash" aria-hidden="true"></i> </button></td>
                                    {% endif %}
        
                                    
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        // Bar chart for Expense vs Income
        const ctxBar = document.getElementById('chart-expense-vs-income').getContext('2d');
        new Chart(ctxBar, {
            type: 'bar',
            data: {
                labels: ['Expenses', 'Income'],
                datasets: [{
                    label: 'Expense vs Income',
                    data: [{{ total_expenses }}, {{ total_income }}],
                    backgroundColor: [
                        'rgba(242, 38, 19, 1)',
                        'rgba(8, 128, 7, 1.0)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        // Doughnut chart for Expense vs Income vs Initial Balance
        const ctxPie = document.getElementById('chart-expense-income-balance').getContext('2d');
        new Chart(ctxPie, {
            type: 'doughnut',
            data: {
                labels: ['Expenses', 'Income', 'Initial Balance'],
                datasets: [{
                    label: 'EXPENSE VS INCOME vs INITIAL BALANCE',
                    data: [{{ total_expenses }}, {{ total_income }}, {{ total_starting_balance }}],
                    backgroundColor: [
                        'rgba(242, 38, 19, 1)',
                        'rgba(8, 128, 7, 1.0)',
                        'rgba(249, 180, 45, 1)'
                    ],
                    borderWidth: 1
                }]
            }
        });

        // Doughnut chart for Expense by Category
        const ctxPie2 = document.getElementById('chart_expense').getContext('2d');
        const chart_expense = new Chart(ctxPie2, {
            type: 'pie',
            data: {
            labels: [{% for expense in expense_by_category %} '{{ expense.category }}', {% endfor %}],
            datasets: [{
                label: 'Category',
                data: [{% for expense in expense_by_category %} {{ expense.total_amount }}, {% endfor %}],
                backgroundColor: [
                    'rgba(22, 38, 19, 0.5)',
                    'rgba(2, 138, 119, 1)',
                    'rgba(249, 180, 45, 1)',
                    'rgba(149, 180, 45, 1)',
                    'rgba(59, 0, 145, 1)',
                ],
                borderWidth: 1,
                fill: false,
                // borderColor: 'rgb(75, 192, 192)',
            }]
        },
        // options: {
        //     animations: {
        //         tension: {
        //         duration: 1000,
        //         easing: 'linear',
        //         from: 1,
        //         to: 0,
        //         loop: true
        //     }
        //     },
        //     scales: {
        //         y: { // defining min and max so hiding the dataset does not change scale range
        //             min: 0,
        //             max: 100
        //         }
        //     }
        // }
    });
    </script>

</div>
{% endblock %}
