{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TrackMyCash{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {% block extra_head %}
    {% endblock %}
</head>
<body>

    <main>
        {% block content %}
            
        {% endblock %}
    </main>
    <!-- <footer>
        <p>&copy; 2024 TrackMyCash</p>
    </footer> -->
</body>
</html>
