* { box-sizing: border-box; } body {margin: 0;}.gjs-icon{display:inline-block;text-decoration:none;color:inherit;vertical-align:middle;fill:currentColor;width:50px;height:50px;}.gjs-link-box{color:inherit;display:inline-block;vertical-align:top;padding:10px;max-width:100%;text-decoration:none;}.gjs-grid-column{flex:1 1 0%;padding:5px 0;}.gjs-link{vertical-align:top;max-width:100%;display:inline-block;text-decoration:none;color:inherit;}.gjs-grid-row{display:flex;justify-content:flex-start;align-items:stretch;flex-direction:row;min-height:auto;padding:10px 0;}.gjs-heading{margin:0;}.gjs-heading{margin:0;color:rgba(29, 40, 55, 1);}.gjs-grid-column{flex:1 1 0%;padding:5px 0;}.gjs-grid-row{display:flex;justify-content:flex-start;align-items:stretch;flex-direction:row;min-height:auto;padding:10px 0;}#iqjl{flex:0 1 auto;}.gjs-link-box{color:inherit;display:inline-block;vertical-align:top;padding:10px;max-width:100%;text-decoration:none;}.gjs-link{vertical-align:top;max-width:100%;display:inline-block;text-decoration:none;color:inherit;transition:color 0.3s ease 0s;}#iffs{flex:0 1 auto;}#iyd2{align-items:center;justify-content:space-between;padding-top:0px;padding-bottom:0px;background-color:rgba(255, 255, 255, 0.8);border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;backdrop-filter:blur(13px);box-shadow:0px 2px 7px 0px rgba(0, 0, 0, 0.14) ;}#i6po{justify-content:center;position:sticky;top:15px;padding-top:0px;padding-bottom:0px;padding-left:20px;padding-right:20px;}#itjq{width:100%;max-width:1200px;}#iucmr{display:block;padding-top:0px;padding-bottom:0px;}#it00l{padding-top:0px;padding-bottom:0px;}#icfyb{padding:10px;font-family:Arial, Helvetica, sans-serif;padding-left:20px;padding-right:20px;}#irtfd{flex:0 1 auto;}#i88iz{padding:10px;font-family:Arial, Helvetica, sans-serif;padding-left:20px;padding-right:20px;}#icyzp{flex:0 1 auto;}#irz7b{justify-content:center;padding-top:80px;padding-bottom:80px;padding-left:20px;padding-right:20px;min-height:10px;}#iycz3{max-width:1200px;align-items:center;display:flex;flex-direction:column;gap:10px;}#irjua{font-size:3rem;text-align:center;}#itndw{padding:10px;max-width:750px;margin-bottom:25px;text-align:center;}#i3vvs{color:black;border-top-left-radius:35px;border-top-right-radius:35px;border-bottom-right-radius:35px;border-bottom-left-radius:35px;max-width:100%;margin-top:38px;margin-right:38px;margin-bottom:38px;margin-left:38px;}.text-content{line-height:20px;}.text-main-content{line-height:30px;font-size:1.2rem;}#iau9{font-family:Arial, Helvetica, sans-serif;background-image:linear-gradient(180deg, rgba(59, 130, 245, 0.11), white 14%);background-position:0px 0px;background-size:100% 100%;background-repeat:repeat;background-attachment:scroll;background-origin:padding-box;color:#475569;}#igrx8{padding:10px;max-width:750px;margin-bottom:25px;padding-left:0px;padding-right:0px;}#i466d{color:black;border-top-left-radius:35px;border-top-right-radius:35px;border-bottom-right-radius:35px;border-bottom-left-radius:35px;max-width:100%;}#imymf{max-width:1200px;align-items:center;display:flex;flex-direction:column;}#feature-section{justify-content:center;padding-top:29px;padding-bottom:80px;padding-left:20px;padding-right:20px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;}#ib541{gap:100px;justify-content:space-between;}#iz8m8{display:flex;flex-direction:column;align-items:flex-start;justify-content:center;}#in9ef{font-size:1.5rem;}#i8isa{padding:10px;padding-left:0px;padding-right:0px;}#i8w4i{max-width:1200px;display:flex;flex-direction:column;}#ioyxg{justify-content:center;padding-top:80px;padding-bottom:80px;padding-left:20px;padding-right:20px;}#iiacm{font-size:2.5rem;margin-bottom:10px;max-width:750px;}#ixzh1{width:100%;flex-wrap:wrap;justify-content:flex-start;gap:50px;}.gjs-grid-column.feature-item{padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;display:flex;flex-direction:column;gap:15px;min-width:30%;}#ia21sa{padding:10px;max-width:750px;margin-bottom:70px;padding-left:0px;padding-right:0px;}.gjs-grid-column.testimonial-item{padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;display:flex;flex-direction:column;gap:15px;min-width:45%;background-color:rgba(247, 247, 247, 0.23);border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;align-items:flex-start;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-top-color:rgba(0, 0, 0, 0.06);border-right-color:rgba(0, 0, 0, 0.06);border-bottom-color:rgba(0, 0, 0, 0.06);border-left-color:rgba(0, 0, 0, 0.06);}#ilriti{max-width:1200px;display:flex;flex-direction:column;}#iv3be5{justify-content:center;padding-top:80px;padding-left:20px;padding-right:20px;padding-bottom:80px;}#im0rle{flex-direction:column;}#iih6cv{display:block;padding-top:0px;padding-bottom:0px;}#iotp6j{align-self:center;}#it6g1v{padding:10px;text-align:center;font-size:0.8rem;margin-top:20px;opacity:75%;}#ij7g8t{display:block;}#ipjdtn{display:block;}#ikj01e{display:block;}#i1hx7l{display:flex;gap:30px;flex:0 1 auto;justify-content:center;margin-top:30px;margin-bottom:30px;}#i2sl68{display:block;}.gjs-button{vertical-align:top;max-width:100%;display:inline-block;text-decoration:none;color:white;padding-right:15px;padding-bottom:10px;padding-left:15px;background-color:rgb(36, 99, 235);border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;padding-top:10px;font-size:1.1rem;text-align:center;}.gjs-text-blue{color:rgb(36, 99, 235);}#ism014{font-size:2.5rem;}.gjs-link:hover{color:rgb(36, 99, 235);text-decoration:underline;}.gjs-icon{display:inline-block;text-decoration:none;color:inherit;vertical-align:middle;fill:currentColor;width:50px;height:50px;}#irfl3k{width:196px;height:41px;}#ip6zoj{width:213px;height:44px;}.gjs-icon.gjs-feature-icon{padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;background-color:rgb(36, 99, 235);color:white;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;}#ieu6p6{font-size:1.5rem;}#izqkf7{padding:10px;padding-left:0px;padding-right:0px;}#ica43q{font-size:1.5rem;}#ickn3f{padding:10px;padding-left:0px;padding-right:0px;}#infmy1{padding:10px;font-family:Arial, Helvetica, sans-serif;padding-left:20px;padding-right:20px;}@media (max-width: 992px){.gjs-grid-row{flex-direction:column;}.gjs-grid-row{flex-direction:column;}#iyd2{flex-direction:row;}#it00l{flex-direction:row;}}@media (max-width: 768px){#iffs{display:none;}}@media (max-width: 480px){#irfl3k{width:116px;height:24px;}}

* {
	box-sizing:border-box;
}
body {
	margin:0;
}
.gjs-icon {
	display:inline-block;
	text-decoration:none;
	color:inherit;
	vertical-align:middle;
	fill:currentColor;
	width:50px;
	height:50px;
}
.gjs-link-box {
	color:inherit;
	display:inline-block;
	vertical-align:top;
	padding:10px;
	max-width:100%;
	text-decoration:none;
}
.gjs-grid-column {
	flex:1 1 0%;
	padding:5px 0;
}
.gjs-link {
	vertical-align:top;
	max-width:100%;
	display:inline-block;
	text-decoration:none;
	color:inherit;
}
.gjs-grid-row {
	display:flex;
	justify-content:flex-start;
	align-items:stretch;
	flex-direction:row;
	min-height:auto;
	padding:10px 0;
}
.gjs-heading {
	margin:0;
}
.gjs-heading {
	margin:0;
	color:rgba(29,40,55,1);
}
.gjs-grid-column {
	flex:1 1 0%;
	padding:5px 0;
}
.gjs-grid-row {
	display:flex;
	justify-content:flex-start;
	align-items:stretch;
	flex-direction:row;
	min-height:auto;
	padding:10px 0;
}
.gjs-link-box {
	color:inherit;
	display:inline-block;
	vertical-align:top;
	padding:10px;
	max-width:100%;
	text-decoration:none;
}
.gjs-link {
	vertical-align:top;
	max-width:100%;
	display:inline-block;
	text-decoration:none;
	color:inherit;
	transition:color 0.3s ease 0s;
}
.gjs-grid-column.feature-item {
	padding-top:15px;
	padding-right:15px;
	padding-bottom:15px;
	padding-left:15px;
	display:flex;
	flex-direction:column;
	gap:15px;
	min-width:30%;
}
.gjs-grid-column.testimonial-item {
	padding-top:15px;
	padding-right:15px;
	padding-bottom:15px;
	padding-left:15px;
	display:flex;
	flex-direction:column;
	gap:15px;
	min-width:45%;
	background-color:rgba(247,247,247,0.23);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	align-items:flex-start;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-top-color:rgba(0,0,0,0.06);
	border-right-color:rgba(0,0,0,0.06);
	border-bottom-color:rgba(0,0,0,0.06);
	border-left-color:rgba(0,0,0,0.06);
}
.gjs-text-blue {
	color:rgb(36,99,235);
}
.gjs-link:hover {
	color:rgb(36,99,235);
	text-decoration:underline;
}
.gjs-icon {
	display:inline-block;
	text-decoration:none;
	color:inherit;
	vertical-align:middle;
	fill:currentColor;
	width:50px;
	height:50px;
}
.gjs-icon.gjs-feature-icon {
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
	padding-left:10px;
	background-color:rgb(36,99,235);
	color:white;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}
#iladsi {
	width:196px;
	height:41px;
}
#iaa4fh {
	display:block;
	padding-top:0px;
	padding-bottom:0px;
}
#irurwc {
	flex:0 1 auto;
}
#iabu48 {
	padding:10px;
	font-family:Arial,Helvetica,sans-serif;
	padding-left:20px;
	padding-right:20px;
}
#ixsb2q {
	padding:10px;
	font-family:Arial,Helvetica,sans-serif;
	padding-left:20px;
	padding-right:20px;
}
#i2rfsk {
	flex:0 1 auto;
}
#io59af {
	padding:10px;
	font-family:Arial,Helvetica,sans-serif;
	padding-left:20px;
	padding-right:20px;
}
#ivd6l9 {
	flex:0 1 auto;
}
#i91cjl {
	padding-top:0px;
	padding-bottom:0px;
}
#ilbntk {
	flex:0 1 auto;
}
#ibufa1 {
	align-items:center;
	justify-content:space-between;
	padding-top:0px;
	padding-bottom:0px;
	background-color:rgba(255,255,255,0.8);
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	backdrop-filter:blur(13px);
	box-shadow:0px 2px 7px 0px rgba(0,0,0,0.14);
}
#idg12i {
	width:100%;
	max-width:1200px;
}
#i1e7p4 {
	justify-content:center;
	position:sticky;
	top:15px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:20px;
	padding-right:20px;
}
#i3vgwb {
	font-size:2rem;
	margin-bottom:10px;
	max-width:400px;
	text-align:center;
}
#ixc8kj {
	display:block;
	flex-direction:column;
	flex:0 0 auto;
}
#i4n0et {
	justify-content:center;
	padding-top:80px;
	padding-bottom:80px;
}
#izhval {
	width:213px;
	height:44px;
}
#i3kw4y {
	display:block;
	padding-top:0px;
	padding-bottom:0px;
}
#i1zcal {
	align-self:center;
}
#iqc29h {
	display:block;
}
#iw6vkn {
	display:block;
}
#i3rhbe {
	display:block;
}
#i1i103 {
	display:block;
}
#ia3s3o {
	display:flex;
	gap:30px;
	flex:0 1 auto;
	justify-content:center;
	margin-top:30px;
	margin-bottom:30px;
}
#iosd1w {
	flex-direction:column;
}
#i1mnvh {
	padding:10px;
	text-align:center;
	font-size:0.8rem;
	margin-top:20px;
	opacity:75%;
}
#i070ds {
	max-width:1200px;
	display:flex;
	flex-direction:column;
}
#icw4co {
	justify-content:center;
	padding-top:80px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:80px;
}
#ibuxmj {
	font-family:Arial,Helvetica,sans-serif;
	background-image:linear-gradient(180deg,rgba(59,130,245,0.11),white 14%);
	background-position:0px 0px;
	background-size:100% 100%;
	background-repeat:repeat;
	background-attachment:scroll;
	background-origin:padding-box;
	color:#475569;
}
#ihidcd {
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
	position:static;
	top:0px;
	left:200px;
	right:200px;
	bottom:100px;
	text-align:left;
	letter-spacing:2px;
	font-weight:600;
	display:block;
	align-items:stretch;
	justify-content:flex-start;
	flex-direction:column;
	max-width:400px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	border-top-width:3px;
	border-right-width:3px;
	border-bottom-width:3px;
	border-left-width:3px;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-top-color:rgba(0,0,0,1);
	border-right-color:rgba(0,0,0,1);
	border-bottom-color:rgba(0,0,0,1);
	border-left-color:rgba(0,0,0,1);
}
#i5gx9h {
	width:400px;
	align-self:flex-start;
	flex:0 0 auto;
	height:100px;
	display:inline-block;
}
#i8nfu7 {
	display:block;
	justify-content:center;
	align-items:center;
	flex-direction:row;
	max-width:400px;
	min-height:30px;
	margin-top:10px;
	margin-right:10px;
	margin-bottom:0px;
	margin-left:10px;
}
#i6fqpd {
	display:block;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-right-radius:12px;
	border-bottom-left-radius:12px;
	border-top-color:rgba(0,0,0,1);
	border-right-color:rgba(0,0,0,1);
	border-bottom-color:rgba(0,0,0,1);
	border-left-color:rgba(0,0,0,1);
	max-width:400px;
	min-height:50px;
	width:380px;
	margin-right:10px;
	margin-bottom:10px;
	margin-left:10px;
	font-size:20px;
}
#itbb4q {
	display:inline-block;
	flex-direction:column;
	justify-content:center;
	align-items:flex-start;
	align-self:center;
}
#ic4u19 {
	display:block;
	margin-top:10px;
	margin-right:10px;
	margin-left:10px;
	position:static;
	max-width:400px;
	min-height:30px;
}
#ik5g9i {
	max-width:380px;
	min-height:50px;
	width:380px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-right-radius:12px;
	border-bottom-left-radius:12px;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-style:groove;
	border-right-style:groove;
	border-bottom-style:groove;
	border-left-style:groove;
	margin-left:10px;
	margin-right:10px;
	font-size:18px;
}
#ip2hko {
	max-width:380px;
	width:375px;
	min-height:50px;
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
	font-weight:600;
	color:rgba(255,255,255,1);
	background-color:rgba(5,116,9,1);
	background-clip:border-box;
	font-size:18px;
	display:inline-block;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	align-content:center;
	flex-direction:column;
	margin-right:10px;
	margin-left:10px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-right-radius:12px;
	border-bottom-left-radius:12px;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-top-color:rgba(0,0,0,0);
	border-right-color:rgba(0,0,0,0);
	border-bottom-color:rgba(0,0,0,0);
	border-left-color:rgba(0,0,0,0);
}
#ik1zhr {
	color:rgba(247,6,6,1);
	padding:10px;
	font-size:12px;
	text-align:center;
	margin-top:10px;
	margin-right:10px;
	margin-bottom:10px;
	margin-left:10px;
}
#ielj6n {
	padding:10px;
	width:250px;
}
#ierjo1 {
	color:rgba(247,6,6,1);
	padding:10px;
}
#iv5q3h {
	display:flex;
	margin-top:20px;
	margin-right:10px;
	margin-bottom:10px;
	margin-left:10px;
}
@media (max-width:992px) {
	.gjs-grid-row {
	flex-direction:column;
}
.gjs-grid-row {
	flex-direction:column;
}
#i91cjl {
	flex-direction:row;
}
#ibufa1 {
	flex-direction:row;
}
}@media (max-width:768px) {
	#ilbntk {
	display:none;
}
}@media (max-width:480px) {
	#iladsi {
	width:116px;
	height:24px;
}
#ixc8kj {
	max-width:1000px;
	display:block;
	flex:0 0 auto;
}
#ip2hko {
	display:block;
	margin-right:10px;
	margin-left:10px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-right-radius:12px;
	border-bottom-left-radius:12px;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-top-color:rgba(0,15,1,1);
	border-right-color:rgba(0,15,1,1);
	border-bottom-color:rgba(0,15,1,1);
	border-left-color:rgba(0,15,1,1);
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	width:250px;
	max-width:380px;
}
#i6fqpd {
	width:250px;
	max-width:300px;
}
#ik5g9i {
	width:250px;
}
#ihidcd {
	margin-top:5px;
	margin-right:5px;
	margin-bottom:5px;
	margin-left:5px;
	max-width:412px;
}
#ibuxmj {
	background-image:linear-gradient(180deg,rgba(255,151,4,0.28),white 14%);
	background-position:0px 0px;
	background-size:100% 100%;
	background-repeat:repeat;
	background-attachment:scroll;
	background-origin:padding-box;
}
#i5gx9h {
	max-width:412px;
	width:300px;
	display:block;
}
#i8nfu7 {
	max-width:412px;
	display:block;
	width:250px;
}
#itbb4q {
	display:block;
	max-width:412px;
}
}