{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <style>
        .ch{
            color: red;
        }
        h2{
            font-size: 32px;
        }
    </style>
</head>
<body>

{% block content %}
  {% if validlink %}
    <h2 class="ch" >Change password</h2>
    <form method="POST" action="" autocomplete="off">
        {% csrf_token %}

        <label for="id_new_password1">New Password</label>
        <input type="password" placeholder="password" id="user_new_password1" name="new_password1">

        <label for="user_new_password2">Confirm Password</label>
        <input type="password" placeholder="confirm password" id="user_new_password2" name="new_password2">

        <button class="btnreset" type="submit">Reset Password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.

    </p>
  {% endif %}
{% endblock %}

    
</body>
</html>