{% extends "./login.html"%}
{% load static %}


{% block main %}
<div class="gjs-grid-row" id="i4n0et">
    <div class="gjs-grid-column" id="ixc8kj">
      <h2 class="gjs-heading" id="i3vgwb">Register</h2>
      <form method="post" id="ihidcd">
          {% csrf_token %}
        <div id="i5gx9h"><label id="i8nfu7">Username</label><input type="text" name="username" id="i6fqpd"/></div>
        <div id="i5gx9h"><label id="i8nfu7">Email</label><input type="email" name="email" id="i6fqpd"/></div>
        <div id="itbb4q"><label id="ic4u19">Password</label><input type="password" name="password1" id="ik5g9i"/></div>
        <div id="itbb4q"><label id="ic4u19">Confirm Password</label><input type="password" name="password2" id="ik5g9i"/></div>
        <!-- <a class="gjs-link" href="{% url 'password_reset' %}"
          id="ik1zhr">Forgot password?</a> -->
        <div id="ivonvi"><button type="submit" id="ip2hko">Register</button></div>
        <div id="iv5q3h">
          <div id="ielj6n">Already have an account?</div><a class="gjs-link" id="ierjo1" href="{% url 'login' %}">Login</a>
        </div>
        <div id="i6fmt6"></div>
        <div id="i7ti5w"></div>
      </form>
    </div>
</div>
{% endblock %}

    
    <!-- <form method="POST" action="">
        {% csrf_token %}

        <h3>Register Here</h3>

        <label for="username">Username...</label>
        {{ form.username }}
        <h5>{{ form.errors.username }}</h5>

        <label for="email">Email..</label>
        <h5>{{ form.email }}</h5>

        <label for="password1">Create Password</label>
        {{form.password1}}
        <h5>{{ form.errors.password1 }}</h5>
        
        <label for="password2">Confirm Password</label>
        {{form.password2}}
        <h5>{{ form.errors.password2 }}</h5>
        
        <button>Register</button>


    </form> -->



